body{
    background-image: url(sdc4.jpg);
    margin:50px;
    overflow: hidden;
}

form h1{
    color: coral;
    margin-bottom: 5px;
}

form{
    background-color: rgba(0,0,0,.5);
    width: 500px;
    height: 300px;
    margin: 250px auto;
    margin-top: 25ch;
    border: 2px solid rgba(0,0,0,.5);
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

form .u_p{
    color: white;
    border-radius: 5px;
    margin: 20px;
}

[type="text"]
{
    /* border-radius: 5px;
    margin: 10px;  
    padding: 8px;
    font-size: 10px; */
     width: 175px;
    background-color: rgb(0, 0,0,0.5);
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

[type="password"]
{
    width: 175px;
    background-color: rgb(0, 0,0,0.5);
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

[type="submit"]
{
    /* border-radius: 8px;
    padding: 8px;
    margin-bottom: 50px;
    width: 100px;
    text-align: center;    
    font-size: 10px; */
    
    width: 75px;
    background-color: rgb(0, 0,0,0.5);
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
} 


